6_Personal/viiii_11_Jira_Reminder_bot/Jira_Reminder_FIXED.json
{
  "name": "Jira Reminder to Telegram - FIXED",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9,14,17 * * 1-5"
            }
          ]
        }
      },
      "id": "2098bf90-6d47-4c89-b734-87b562c023f1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -608,
        112
      ],
      "notes": "Triggers at 9 AM, 2 PM, and 5 PM on weekdays"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 20,
        "jql": "assignee = currentUser() AND status != Done AND status != Closed",
        "options": {}
      },
      "id": "55f81e82-cccb-4611-b469-79805d570301",
      "name": "Get Jira Issues",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -400,
        112
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "pgUQDXug0CqSuSyX",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        },
        "options": {}
      },
      "id": "9876fd6b-452e-48b5-9d43-956e6be04e29",
      "name": "Has Tasks?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -208,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format Jira issues for LLM\nconst items = $input.all();\nconst issues = items.map(item => item.json);\n\nif (issues.length === 0) {\n  return [{\n    json: {\n      taskCount: 0,\n      taskList: \"No active tasks assigned to you\",\n      rawTasks: [],\n      hasActiveTasks: false,\n      currentUser: \"Subin\"\n    }\n  }];\n}\n\n// Force current user to be Subin\nconst currentUser = \"Subin\";\n\nconst formatted = issues.map(issue => ({\n  key: issue.key,\n  summary: issue.fields?.summary || 'No summary',\n  status: issue.fields?.status?.name || 'Unknown',\n  priority: issue.fields?.priority?.name || 'None',\n  assignee: issue.fields?.assignee?.displayName || 'Unassigned'\n}));\n\n// Categorize by priority\nconst highPriority = formatted.filter(t => t.priority === 'High' || t.priority === 'Highest');\nconst mediumPriority = formatted.filter(t => t.priority === 'Medium');\nconst lowPriority = formatted.filter(t => t.priority === 'Low' || t.priority === 'Lowest');\nconst noPriority = formatted.filter(t => t.priority === 'None' || !t.priority);\n\nconst taskList = formatted.map(t => \n  `• [${t.key}] ${t.summary} (${t.status} - ${t.priority})`\n).join('\\n');\n\n// Create a simple prompt for the LLM\nconst userContent = `Hello Subin! You have ${formatted.length} active Jira tasks. High priority: ${highPriority.length}, Medium: ${mediumPriority.length}, Low: ${lowPriority.length + noPriority.length}. Create a brief motivational reminder (2-3 sentences) about what to focus on today.`;\n\nreturn [{\n  json: {\n    currentUser: currentUser,\n    taskCount: formatted.length,\n    taskList: taskList,\n    rawTasks: formatted,\n    hasActiveTasks: true,\n    userContent: userContent,\n    highPriorityCount: highPriority.length,\n    mediumPriorityCount: mediumPriority.length,\n    lowPriorityCount: lowPriority.length + noPriority.length\n  }\n}];"
      },
      "id": "dbe583ee-1d51-470a-91a0-7da4c4c70cff",
      "name": "Format Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.196:1234/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  model: \"local-model\",\n  messages: [\n    {\n      role: \"system\",\n      content: \"You are a helpful assistant. Create a brief, actionable reminder about Jira tasks. Keep it simple and under 100 words. Be motivational and specific.\"\n    },\n    {\n      role: \"user\",\n      content: $json.userContent\n    }\n  ],\n  temperature: 0.7,\n  max_tokens: 150\n}) }}",
        "options": {}
      },
      "id": "c356140d-d766-4784-ae5e-3264efe7af82",
      "name": "LLM Summarize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8483914760:AAEEp8Tccbc5blGme5bZOxI-dr1e6WbRopM/sendMessage",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  chat_id: \"589824303\",\n  text: \"Hello Subin!\\n\\nYour Personal Jira Assistant\\n\\n\" + (($json.choices && $json.choices.length > 0 && $json.choices[0].message && $json.choices[0].message.content) ? $json.choices[0].message.content : \"Good morning! You have \" + ($('Format Tasks').item.json.taskCount || 0) + \" active tasks to work on. Focus on high priority items first!\") + \"\\n\\nQuick Stats:\\n• Total Active Tasks: \" + ($('Format Tasks').item.json.taskCount || 0) + \"\\n• High Priority: \" + ($('Format Tasks').item.json.highPriorityCount || 0) + \"\\n• Medium Priority: \" + ($('Format Tasks').item.json.mediumPriorityCount || 0) + \"\\n• Low Priority: \" + ($('Format Tasks').item.json.lowPriorityCount || 0) + \"\\n\\nQuick Actions:\\n• Reply with task key (e.g., PROJ-123) to log time\\n• Use /today to see today's focus\\n• Use /log [KEY] [TIME] to quick log\\n\\nAutomated reminder • \" + new Date().toLocaleDateString('en-GB') + \", \" + new Date().toLocaleTimeString('en-GB', {hour: '2-digit', minute: '2-digit'})\n}) }}",
        "options": {}
      },
      "id": "59d5c0e1-53c8-45e0-9442-17af7ac419a1",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8483914760:AAEEp8Tccbc5bIGme5bZOxl-dr1e6WbRopM/sendMessage",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  chat_id: \"589824303\",\n  text: \"All Clear, Subin!\\n\\nNo active Jira tasks assigned to you. You're all caught up!\\n\\nAutomated check • \" + new Date().toLocaleDateString('en-GB') + \", \" + new Date().toLocaleTimeString('en-GB', {hour: '2-digit', minute: '2-digit'})\n}) }}",
        "options": {}
      },
      "id": "25423b7d-9eb7-49d5-a1e2-7d7fe188656b",
      "name": "No Tasks Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        208
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Jira Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Jira Issues": {
      "main": [
        [
          {
            "node": "Has Tasks?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Tasks?": {
      "main": [
        [
          {
            "node": "Format Tasks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Tasks Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Tasks": {
      "main": [
        [
          {
            "node": "LLM Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Summarize": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fixed-version-clean",
  "meta": {
    "instanceId": "1fe0ea1b32dc2f6d9b6fe3272518c0432f5c36aee139d9a4cf93e49f008b9d58"
  },
  "id": "FixedJiraReminder",
  "tags": []
}